
.App{
    max-width: 800px;
   
   
    }
/* .App h1{
    text-align: center;
    background: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-top: 50px;
} */
.App footer{
    font-size: 18px;
    color: #24368D;
    margin: 20px;
    text-align: center;
    padding-bottom: 40px;
}
.App footer a{
    color:#FF057C
}