.Weather{
   
    margin:40px;
   padding:20px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 3px #cd9cf2;
    color:#878787;
   font-family:arial,sans-serif;
   background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
   
}
.Weather h1{
    padding-top: 40px;
    text-align: left !important;
    font-size:40px;
    font-weight:100;
    line-height: 29px;
   
}
.Weather ul{
    margin-top: -60px;
    padding: 0;
}
.Weather li{
    padding: 5px;
    color:#878787;
    font-size: 16px;
    line-height:19px;
    list-style: none;
}
.Weather .row .col-8,.col-4 {
    margin-top:10px;
    
}
.Weather .row .col-4 {
    margin-top:11px;
 
}
.Weather img{
    float: left;
    margin-right: 10px;

}
.Weather .temperature{
    color:#DD1E93;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    position: relative;
    top: -60px;
    left:60px
}
.Weather .unit {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-right: 5px;
    line-height: 1;
    position: relative;
    top: -95px;
    left:60px
}
.Weather .unit a{
    text-decoration: none;
}
.Weather .search{
    background: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%)!important;
    color: rgb(247, 247, 247);
}
